USE [master]
GO
/****** Объект:  Database [PaymentAggregatorDB]    Дата создания скрипта: 09.06.2026 17:14:37 ******/ 
CREATE DATABASE [PaymentAggregatorDB]
GO
USE [PaymentAggregatorDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentAggregatorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentAggregatorDB]
GO
/****** Объект:  Table [dbo].[Cases]    Дата создания скрипта: 09.06.2026 17:14:37 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[BriefDescription] [nvarchar](max) NOT NULL,
	[FullContent] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](250) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Reviews]    Дата создания скрипта: 09.06.2026 17:14:37 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cases] ON 

SET IDENTITY_INSERT [dbo].[Cases] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [Name], [Email], [Text], [CreatedDate]) VALUES (1, N'Алексей', N'poka@gmail.com', N'Это тествой отзыв на проверку дб!)', CAST(N'2026-06-09T16:47:25.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Cases__70F4A9E0CFCE12DA]    Дата создания скрипта: 09.06.2026 17:14:37 ******/ 
ALTER TABLE [dbo].[Cases] ADD UNIQUE NONCLUSTERED 
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cases] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
